{#{% if this.success == 0 %}
<span class="bg-danger bg-opacity-50">
{% elif this.warning == 0 and this.error == 0 %}
<span class="bg-success bg-opacity-50">
{% else %}
<span class="bg-warning bg-opacity-50">
{% endif %}#}
{% if this.unreachable is not none %}
<span class="text-info" title="unreachable">{{ this.unreachable }}</span>,
{% endif %}
<span class="text-success" title="pass">{{ this.success }}</span>,
<span class="text-warning" title="unknown">{{ this.warning }}</span>,
<span class="text-danger" title="fail">{{ this.error }}</span>