<span class="safe"  style="color:green">{{this.safe}}</span>
<span class="vulnerable"  style="color:orange">{{this.vulnerable}}</span>
<span class="unsafe" style="color: red">{{this.unsafe}}</span>
<span class="uncalled" style="color: magenta">{{this.uncalled}}</span>