<!DOCTYPE html>
<html lang="en">
<head>
{% block head %}
    <title>{% block title %}Results{% endblock %}</title>
{% endblock %}
</head>
<body>
{% block body %}
{{ result|template }}
{% endblock %}
</body>
</html>
