<span class="live" title= "live lines" style="color:green">{{this.live}}</span>
<span class="dead" title= "dead lines" style="color:red">{{this.dead}}</span>
<span class="total" title= "total lines">{{this.total}}</span>
<span class="uncalled" title= "uncalled functions" style="color: magenta">{{this.uncalled}}</span>
