{# TODO: add colouring to values #}

<span class="live" title= "live lines">{{this.live}}</span>
<span class="dead" title= "dead lines">{{this.dead}}</span>
<span class="total" title= "total lines">{{this.total}}</span>
