{% set result = this %}
<h1>{{ this.matrix.name }}</h1>
<div class="table-responsive">

<table class="table table-hover table-sm">
<thead class="table-light">
    <tr>
        <th></th>
        <th></th>
    {% for tool in result.tools %}
        <th scope="col" colspan="{{ tool.columns }}">{{ tool.name }}</th>
    {% endfor %}
    </tr>
    <tr>
        <th scope="col">Group</th>
        <th scope="col">Benchmark</th>
    {% for tool in result.tools %}
        {% for i in range(tool.columns) %}
            <th scope="col">{{ i }}</th>
        {% endfor %}
    {% endfor %}
    </tr>
</thead>
<tbody>
{% for group_result in result.groups %}
    {% for benchmark_results in group_result.benchmarks %}
        <tr>
        {% if loop.first %}
            <th scope="row" rowspan={{ group_result.benchmarks|length }} style="vertical-align: top;">{{ group_result.group.name }}</th>
        {% endif %}
        <th scope="row">{{ benchmark_results.benchmark.name }}</th>
        {% for benchmark_result in benchmark_results.results %}
            {% if benchmark_result.done() %}
                {{ benchmark_result.result().result|template }}
            {% else %}

            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>
</div>
