{% set result = this %}
<div class="table-responsive">
<table class="table table-hover table-sm">
<thread class="table-light">
    <tr>
        <th scope="col">Group</th>
        <th scope="col">Benchmark</th>
    {% for tool in result.tools %}
        <th scope="col">{{ tool.name }}</th>
    {% endfor %}
    </tr>
</thead>
<tbody>
{% for group_result in result.groups %}
    {% for benchmark_results in group_result.benchmarks %}
        <tr>
        {% if loop.first %}
            <th scope="row" rowspan={{ group_result.benchmarks|length }} style="vertical-align: top;">{{ group_result.group.name }}</th>
        {% endif %}
            <th scope="row">{{ benchmark_results.benchmark.name }}</th>
        {% for benchmark_result in benchmark_results.results %}
            {% if benchmark_result.done() %}
            {% if benchmark_result.result().result.kind %}
            <td class="bg-{{ benchmark_result.result().result.kind }} bg-opacity-25">
            {% else %}
            <td>
            {% endif %}
            {{ benchmark_result.result().result|template }}
            </td>
            {% else %}
            <td></td>
            {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
{% endfor %}
</tbody>
</table>
</div>
