<!DOCTYPE html>
<html lang="en">
<head>
{% if progress %}
    <title>Results ({{ progress.done }}/{{ progress.total }})</title>
    <meta http-equiv="refresh" content="1">
{% else %}
    <title>Results</title>
{% endif %}
</head>
<body>
{% if progress %}
    <p>
        <progress value={{ progress.done }} max={{ progress.total }}></progress>
        {{ progress.done }}/{{ progress.total }}
    </p>
{% endif %}
    {% include result_template %}
</body>
</html>
