{% extends "index.jinja" %}
{% block title %}Results ({{ progress.done }}/{{ progress.total }}){% endblock %}
{% block head %}
    {{ super() }}
    <meta http-equiv="refresh" content="1">
{% endblock %}
{% block body %}
    <p>
        <progress value={{ progress.done }} max={{ progress.total }}></progress>
        {{ progress.done }}/{{ progress.total }} (active: {{ progress.active }})
    </p>
    {{ super() }}
{% endblock %}
