{% extends "index.jinja" %}
{% block title %}Results ({{ progress.done }}/{{ progress.total }}){% endblock %}
{% block head %}
    {{ super() }}
    <meta http-equiv="refresh" content="1">
{% endblock %}
{% block body %}
    <p>
        <div class="progress">
            <div class="progress-bar" role="progressbar" style="width: {{ progress.done / progress.total * 100 }}%" aria-valuenow={{ progress.done }} aria-valuemin=0 aria-valuemax={{ progress.total }}>{{ progress.done }}</div>
            <div class="progress-bar bg-info" role="progressbar" style="width: {{ progress.active / progress.total * 100 }}%" aria-valuenow={{ progress.active }} aria-valuemin=0 aria-valuemax={{ progress.total }}>{{ progress.active }}</div>
        </div>
    </p>
    {{ super() }}
{% endblock %}
