<span class="thread_id" title="thread id's">{{this.thread_id}}</span>
<span class="unique_thread_id" title="thread id's">{{this.unique_thread_id}}</span>
<span class="max_protected" title="thread id's">{{this.max_protected}}</span>
<span class="sum_protected" title="thread id's">{{this.sum_protected}}</span>
<span class="mutexes_count" title="thread id's">{{this.mutexes_count}}</span>