<!DOCTYPE html>
<html lang="en">
<head>
    <title>Results</title>
</head>
<body>
    <table>
    <tr>
        <th>Group</th>
        <th>Benchmark</th>
    {% for tool in matrix.tools %}
        <th>{{ tool.name }}</th>
    {% endfor %}
    </tr>
    {% for group_result in matrix_results.groups %}
        {% for benchmark_results in group_result.benchmarks %}
            <tr>
            {% if loop.first %}
                <td rowspan={{ group_result.benchmarks|length }}>{{ group_result.group.name }}</td>
            {% endif %}
                <td>{{ benchmark_results.benchmark.name }}</td>
            {% for benchmark_result in benchmark_results.results %}
                <td>{{ benchmark_result.result }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    {% endfor %}
    </table>
</body>
</html>
